<h1 style="color:black" align="center">Naive Bayes Classifier</h1>

**Importing Important Libraries**

In [1]:
import pandas as pd

**Reading CSV File**

In [2]:
df = pd.read_csv("/kaggle/input/titanic/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Removing unwanted Column's**

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

**Defining Dependent and Independent Variable**

In [4]:
X = df.drop(["Survived"],axis="columns")
y = df.Survived

**Get Dummy Values for Sex column**

In [5]:
dummies = pd.get_dummies(X.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

**Adding Dummies Column to the Dataframe**

In [6]:
X = pd.concat([X,dummies],axis="columns")
X

     Pclass     Sex   Age     Fare  female  male
0         3    male  22.0   7.2500       0     1
1         1  female  38.0  71.2833       1     0
2         3  female  26.0   7.9250       1     0
3         1  female  35.0  53.1000       1     0
4         3    male  35.0   8.0500       0     1
..      ...     ...   ...      ...     ...   ...
886       2    male  27.0  13.0000       0     1
887       1  female  19.0  30.0000       1     0
888       3  female   NaN  23.4500       1     0
889       1    male  26.0  30.0000       0     1
890       3    male  32.0   7.7500       0     1

[891 rows x 6 columns]

**Dropping Sex Column after getting Dummies Value for Male and Female**

In [7]:
X.drop(["Sex"],axis="columns",inplace=True)
X.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

**Looking for Null Values in DataFrame**

In [8]:
X.isna().sum()

Pclass      0
Age       177
Fare        0
female      0
male        0
dtype: int64

**Replacing Null Values with Mean of Age**

In [9]:
X.Age = X.Age.fillna(X.Age.mean())
X.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

**Verifying that all Null Values are Gone**

In [10]:
X.isna().sum()

Pclass    0
Age       0
Fare      0
female    0
male      0
dtype: int64

------

**Train Test Split**

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

**Creating Naive Bayes Model**

In [13]:
from sklearn.naive_bayes import GaussianNB

In [14]:
model = GaussianNB()

**Fitting the Model with Data**

In [15]:
model.fit(X_train,y_train)

GaussianNB()

**Score of the Model**

In [16]:
model.score(X_test,y_test)

0.7761194029850746

**Predicting the Data of First 10 Passengers**

In [17]:
model.predict(X_test[:10])

array([1, 0, 0, 1, 0, 0, 0, 0, 0, 0])